<div class="container-fluid">
    <div>
        <h1 class="text-center">Getötete im Straßenverkehr in Österreich</h1>
        <h2 class="text-center">nach Bundesland und Berichtsjahr: Zwischen 2000 und {{endyear}}</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p>Tap a new year:</p>
                </div>
                <div class="col-sm-3">
                    <p><input type="text" id="endyear" name="endyear" [(ngModel)]="endyear"></p>
                </div>
                <div class="3"><button type="button" (click)="changeYear(endyear)">Filter</button>
                </div>
            </div>



        </div>

        <p class="text-center">Click on a country to hide it</p>
    </div>
    <canvas id="myChart" width="1320" height="400"></canvas>

</div>